.sidenav {
    width: 250px;
    transition: width 0.3s ease-in-out;
    height: 90vh;
    /*background-image: linear-gradient(to right, #242437 50%, #243742);*/
    background-image: linear-gradient(315deg, #242437 20%, #20a875);
    padding-top: 28px;
    /*#2e3042 for slate gradient*/
}
.sidenavClosed {
    composes: sidenav;
    transition: width 0.3s ease-in-out;
    width: 60px
}
.sideitem {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    overflow: hidden;
}
.linkText {
    padding-left: 16px;
}

.sideitem:hover {
    background-color: #030d181c;

}
.menuBtn {
    align-self: center;
    align-self: flex-start;  
    justify-self: flex-end;
    color: #B2BAC2;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: 20px;
}