#AwaitingCard {
    background: linear-gradient(red, #242437 60%);
    border-radius: 15px;
    height: 50px;
}
#AwaitingText{
    color: white;
    transform: translate(0%, 0%);
    padding-left: 10px;
    
}
#CreateButton{
    float: right;
    transform: translateY(-170%);
    padding-right: 10px;
}
#SubmittedCard {
    background: linear-gradient(#e89945, #242437 60%);
    border-radius: 15px;
    height: 50px;
}
#SubmittedText {
    color: white;
    transform: translateY(0%);
    padding-left: 10px;
}
#ArrivedCard {
    background: linear-gradient(#20a742, #242437 60%);
    border-radius: 15px;
    height: 50px;
}
#ArrivedText {
    color: white;
    transform: translateY(0%);
    padding-left: 10px;
}
#TitleCard {
    background: linear-gradient(#20A785, #242437 60%);
    border-radius: 15px;
    height: 60px;
    margin-bottom: 10px;
}
#TitleText {
    float: left;
    transform: translateY(-35%);
    padding-left: 10px;
    color: white;
}