#MaterialCard {
    background: linear-gradient(#20a785, #242437 60%);
    border-radius: 15px;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-content:space-between;
}

#MaterialText {
    padding-left: 10px;
}
#MaterialButton {
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
}
#MateTitleCard {
    background: #e6e3dc;
    border-radius: 15px;
    height: 60px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
}


