#PassHeader {
    background: linear-gradient(#20a785, #242437 60%);
    border-radius: 15px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#PassTitle {
    padding-left: 10px;
}

#PassButton {
    display: flex;
    justify-content: flex-start;
    float: right;
    padding-left: 10px;

}

#PassTitleCard {
    background: #e6e3dc;
    border-radius: 15px;
    height: 60px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
}

#ExportButton {
    display: flex;
    padding-right: 10px;
}