#SWICHeader {
    background: linear-gradient(#20a785, #242437 60%);
    border-radius: 15px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#SwicTitle {
    padding-left: 10px;
}

#SwicButton {
    display: flex;
    justify-content: flex-start;
    float: right;
    padding-left: 10px;
}

#SwicTitleCard {
    background: #e6e3dc;
    border-radius: 15px;
    height: 60px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
}

#SwicFormCard {
    /*border-radius: 15px;*/
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 70%;
    padding-left: 5px;
    padding-right: 5px;
}

#SwicInputBox {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 225px;
}

#SwicLabel {
    display: flex;
    align-items: flex-start;
}

#SwicButtonBox {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

#SwicBackButton {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

#SwicSubmitButton {
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#SwicTextBox {
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    width: 28%;
}
