#PullHeader {
    background: linear-gradient(#20a785, #242437 60%);
    border-radius: 15px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#ToolTitle {
 padding-left: 10px;
}

#PullButton {
    display: flex;
    justify-content: flex-start;
    float: right;
    padding-left: 10px;
}
#PullTitleCard {
    background: #e6e3dc;
    border-radius: 15px;
    height: 60px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: flex-start;
}
#OverdueCard {
    background: linear-gradient(red, #242437 60%);
    border-radius: 15px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}
#PullCard {
    background: linear-gradient(#20a742, #242437 60%);
    border-radius: 15px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#LostCard {
    background: linear-gradient(#e89945, #242437 60%);
    border-radius: 15px;
    height: 50px;
    display: flex;
}
#PullText {
    color: white;
    font-size: 30px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
}
#OverdueText {
    color: white;
    font-size: 30px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
}
#LostText {
    color: white;
    font-size: 30px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
}
#GenerateButton {
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    flex-direction: column;
    align-items: flex-end;
}
#DatePickerBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#ToolSearch {
    padding-right: 10px;
}
#PullButton2 {
    display: flex;
    justify-content: flex-end;
    float: right;
    padding-right: 10px;
}